################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CFDIXMLtoPDFwpf/CFDIXMLtoPDFwpf/obj/Debug
