################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CFDIXMLtoPDFwpf/CFDIXMLtoPDFwpf/obj/Debug
/CFDIXMLtoPDFwpf/.vs/CFDIXMLtoPDFwpf/v15
/CFDIXMLtoPDFwpf/CFDIXMLtoPDFwpf/bin/Debug
/CFDIXMLtoPDFwpf/Installer/Application Files/CFDIXMLtoPDFwpf_1_0_0_1
/CFDIXMLtoPDFwpf/Installer
/CFDIXMLtoPDFwpf/.vs/CFDIXMLtoPDF/v15
